<div class="container">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="7"><font size=5>Tabela de alunos </font>(<%= pluralize(@alunos.size, "aluno encontrado", "alunos encontrados")%>)</th>
        </tr>
        <tr>
          <th>Turma</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Prontuario</th>
        </tr>
      </thead>

      <tbody>
        <% @alunos.each do |aluno| %>
          <tr>
            <td><%= aluno.turma %></td>
            <td><%= aluno.nome %></td>
            <td><%= aluno.email %></td>
            <td><%= aluno.prontuario %></td>
            <td><%= link_to 'Detalhes', aluno %></td>
            <td><%= link_to 'Editar', edit_aluno_path(aluno) %></td>
            <td><%= link_to 'Deletar', aluno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        <tr>
          <th colspan="7" style="text-align:right;"> <%= link_to 'Criar aluno', new_aluno_path %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>